amqp==2.2.2
billiard==3.5.0.3
celery==4.1.1
cycler==0.10.0
Django==2.0.5
kiwisolver==1.0.1
matplotlib==2.2.2
nltk==3.3
numpy==1.14.3
pandas==0.23.0
Pillow==5.1.0
PuLP==1.6.8
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
six==1.11.0
vine==1.1.4
wordcloud==1.4.1
